.CalendarDay__selected_span{background:#4d5087;color:white;border:1px solid #6c6c6c}.CalendarDay__selected{background:#4a377b;color:white}.CalendarDay__selected:hover{background:#247f28;color:white}.CalendarDay__hovered_span:hover,.CalendarDay__hovered_span{background:#f8d35a}.DateRangePicker.DateRangePicker_1 .DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2{padding:5px 10px;background-color:white;border-color:#cccccc;border-radius:4px;border-style:solid;border-width:1px;cursor:default;width:-webkit-max-content;width:-moz-max-content;width:max-content}.DateRangePicker.DateRangePicker_1 .DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 .DateInput .DateInput_input{text-align:center;cursor:pointer}.DateInput_input__focused{border:none}

.layout-container{display:flex;flex-wrap:wrap;height:100vh;width:100%}.layout-container .sidebar-container{width:5%;height:100%}.layout-container .column-container{display:flex;flex-direction:column;width:95%;height:100%}.layout-container .column-container .navbar-container{height:10%}.layout-container .column-container .details-container{height:90%}


/*# sourceMappingURL=main.c0ddef31.chunk.css.map*/