*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: hidden;
}

/* HIDE THE SCROLLBAR */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  /* HIDE SCROLL BAR */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}